@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

@page {
    size: A4;
    margin: 30mm;
}

.container {
    max-width: 300mm;
    margin: 0 auto;
    padding: 20mm;
}

h1, h2, h3 {
    text-align: center;
}

.section {
    margin-bottom: 20mm;
}

.answer {
    margin-left: 20px;
    color: #555;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h2 {
    color: #0078D7;
}

h3 {
    color: #009688;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

body{
    background-color: #111;
    padding: 20px;
    color: white;
    font-size: 125%;
}

